body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5;
}
  h1 {
    font-size: 90px;
    margin: 0 auto 0 auto;
    color: #66BFBF;
    position: static;
    top: 200px;
    font-family: 'Sacramento', cursive;
  }
  h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #66BFBF;
    font-weight: normal;
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
  }
  .center {
  margin-left: auto;
  margin-right: auto;
}
.top-container {
background-color: #E4F9F5;
position:relative;
padding-top: 100px;
}
hr {
  border-style: dotted none none;
  border-color: #789395;
  border-width: 5px;
  width: 5%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}
.middle-container {
  background-color: #E4F9F5;
  margin: 40px 0;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 30px;
}
.footer-link {
  color: #40514E;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 20px 20px;
  padding: 20px 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #EAF6F6;
}
.btn {
width: 150px;
height: 40px;
font-size: 20px;
font-family: sans-serif;
background-color: #11999E;
color: white;
text-align: center;
border: 0;
margin-top: 20px;
margin-bottom: 40px;
box-shadow: 2px 2px lightgrey;
border-radius: 6px;
cursor: pointer;
}
.btn:hover {
  background-color: #11cdd4;
}
#link {
  color: white;
  text-decoration: none;
}
