
  body {
    background-color: #FFCDDD;
  }

  hr {
    border-style: dotted none none;
    border-color: #789395;
    border-width: 5px;
    width: 10%;
  }
  h1 {
color: #F900BF;
  }
  h3 {
    color: #F900BF;
  }
